announcements = {
  ndptf = {
    base_url           = "http://www.gobcan.es/educacion/Nombramientos/Documentos"
    date_format        = "02-01-06"
    telegram_chat_id   = "123456789"
    telegram_chat_name = "@nombramientos_maestros_tfe"
  }
}
schedule_expression = "cron(*/1 6-20 ? * 2-6 *)"
telegram_auth_token = "123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11"
